<div>
  <h2 id="page-heading" data-cy="IssueEmployeeHeading">
    <span microappTranslate="issueApp.issueIssueEmployee.home.title">Issue Employees</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span microappTranslate="issueApp.issueIssueEmployee.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-issue-employee"
        [routerLink]="['/issue/issue-employee/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span microappTranslate="issueApp.issueIssueEmployee.home.createLabel"> Create a new Issue Employee </span>
      </button>
    </div>
  </h2>

  <microapp-alert-error></microapp-alert-error>

  <microapp-alert></microapp-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="issueEmployees?.length === 0">
    <span microappTranslate="issueApp.issueIssueEmployee.home.notFound">No Issue Employees found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="issueEmployees && issueEmployees.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr microappSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" microappSortBy="id">
            <div class="d-flex">
              <span microappTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="username">
            <div class="d-flex">
              <span microappTranslate="issueApp.issueIssueEmployee.username">Username</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="issueAssignmentTitle">
            <div class="d-flex">
              <span microappTranslate="issueApp.issueIssueEmployee.issueAssignmentTitle">Issue Assignment Title</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let issueEmployee of issueEmployees; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/issue/issue-employee', issueEmployee.id, 'view']">{{ issueEmployee.id }}</a>
          </td>
          <td>{{ issueEmployee.username }}</td>
          <td>{{ issueEmployee.issueAssignmentTitle }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/issue/issue-employee', issueEmployee.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" microappTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/issue/issue-employee', issueEmployee.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" microappTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(issueEmployee)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" microappTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="issueEmployees && issueEmployees.length > 0">
    <div class="d-flex justify-content-center">
      <microapp-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></microapp-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
